// Variáveis
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-hover: #4cd137;
$background-color: #f5f6fa;
$text-color: #fff;

$font-family: 'Roboto', sans-serif;
$font-bold: bold;

$container-max-width: 1024px;
$padding-default: 16px;
$border-radius: 8px;

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $background-color;
}

li {
  list-style: none;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}

// Header
header {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-default 0;
  }

  .menu {
    display: flex;

    li {
      font-weight: $font-bold;
      margin-left: 24px;

      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

// Section
section {
  padding: 56px 0;

  .products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item {
      img {
        width: 100%;
        border-radius: 2 * $border-radius;
      }

      .product-button {
        display: block;
        background-color: $secondary-color;
        color: $text-color;
        text-align: center;
        padding: 8px 0;
        border-radius: $border-radius;
        margin-top: 8px;
        text-decoration: none;

        &:hover {
          background-color: $secondary-hover;
        }
      }
    }
  }
}

// Responsividade
@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
    display: block;

    .product-item {
      margin-bottom: 32px;
    }
  }
}
